
org: thiagoramos
service: foodiary-api

plugins:
  - serverless-offline

provider:
  name: aws
  region: us-east-1
  runtime: nodejs20.x
  architecture: arm64
  environment:
    DATABASE_URL: ${env:DATABASE_URL}
    JWT_SECRET: ${env:JWT_SECRET}

package: 
  individually: true

build: 
  esbuild:
    minify: true
    sourcemap: false


functions:
  signin:
    handler: src/functions/signin.handler
    timeout: 30
    events:
      - httpApi:
          path: /signin
          method: POST

  signup:
    handler: src/functions/signup.handler
    timeout: 30
    events:
      - httpApi:
          path: /signup
          method: POST
  me:
    handler: src/functions/me.handler
    timeout: 30
    events:
      - httpApi:
          path: /me
          method: GET
  createMeal:
    handler: src/functions/createMeal.handler
    timeout: 30
    events:
      - httpApi:
          path: /meals
          method: POST
  listMeals:
    handler: src/functions/listMeals.handler
    timeout: 30
    events:
      - httpApi:
          path: /meals
          method: GET
  getMealById:
    handler: src/functions/getMealById.handler
    timeout: 30
    events:
      - httpApi:
          path: /meals/{mealId}
          method: GET

resources:
  Resources:
    UploadsBucket:
      Type: AWS::S3::Bucket 
      Properties:
        BucketName: foodiary-thiv1-uploads

