
org: thiagoramos
service: foodiary-api

provider:
  name: aws
  region: us-east-1
  runtime: nodejs24.x
  architecture: arm64

package: 
  individually: true

build: 
  esbuild:
    minify: true
    sourcemap: false


functions:
  signin:
    handler: src/signin.handler
    events:
      - httpApi:
          path: /signin
          method: POST

functions:
  signup:
    handler: src/signup.handler
    events:
      - httpApi:
          path: /signup
          method: POST
